fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.18
PyPDF2==3.0.1
deep-translator
langdetect==1.11.4
wordfreq
python-dotenv==1.0.1
pytest==8.3.4
httpx==0.28.1
motor==3.6.0
pymongo==4.9.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator==2.1.1
genanki==0.13.1
